@import "tailwindcss";


.font-inter {
  font-family: var(--font-inter), sans-serif;
}

body {
  background-image: url("/home-banner.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  scrollbar-width: 100px;
  scrollbar-color: #00F9FF transparent;
}

.gradient-font{
  background: linear-gradient(to right, #006AFF, #00F9FF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.mask-gradient {
  mask-image: linear-gradient(to bottom, #111E3E, #111E3E, #020D20);
}
